In [43]:
import pandas as pd

In [44]:
df = pd.read_csv('temp.csv')
classes = ['A bull market is expected', 'A bear market is expected']
df.head(3)

,Unnamed: 0,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0.1.1,date_unixtime,date,text,summary_text,summary_text30,A bull market is expected,A bear market is expected
0,0,0,0,0,1532414826,2018-07-24T09:47:06,Nuls (NULS) Spikes as Binance Backs Mainnet To...,Nuls (NULS) reached a record high of $2.76 on ...,Nuls (NULS) reached a record high of $2.76 on ...,0.470287,0.529713
1,1,1,1,1,1533047738,2018-07-31T17:35:38,Cardano (ADA) Launches Virtual Machine on Test...,Cardano (ADA) has completed another milestone ...,Cardano (ADA) has completed another milestone ...,0.476084,0.523916
2,2,2,2,2,1533369648,2018-08-04T11:00:48,​❗️ The Privacy Coin Matrix: A Comprehensive S...,A Google Docs' spreadsheet has been recently p...,A Google Docs' spreadsheet has been recently p...,0.425244,0.574756

In [45]:
df[classes[0]].max(), df[classes[1]].max()

(0.6191088557243347, 0.6211625167301723)

In [46]:
df[df[classes[0]]==df[classes[0]].max()].iloc()[0].text

'HTC launches Desire 22 Pro, Metaverse-enabled smartphone with NFT and crypto wallet'

In [47]:
print(df[df[classes[1]]==df[classes[1]].max()].iloc()[0].text)

​South African crypto-holers are urged to come to tax

South African tax expert David Lesperance says crypto investors should take the initiative and contact the South African Tax Service (SARS) before she comes to them herself. By taking the first step, the expert said, crypto investors will be able to avoid the penalties that SARS often imposes on tax evaders.

Meanwhile, Lesperance, in comments for bitcoin.news, urged crypto owners to get rid of the "fantasy that they are not going to pay taxes."

In a post aimed specifically at early adopters of cryptocurrency, the tax expert explains how the current situation works in favor of revenue collectors like SARS. He said:

Crypto-based transactions are a revenue collector's dream because everything is stored in a public ledger and its data cannot be changed.

Lesperance, who recently gave a presentation at one of the tax webinars, adds that since public registries are censorship resistant, the “sole” task of revenue collectors will be to

In [48]:
df.date.min(), df.date.max()

('2018-07-24T09:47:06', '2022-07-24T10:24:46')

In [49]:
# append one day to the df date column
df['date'] = pd.to_datetime(df['date']) + pd.Timedelta(days=1)

In [50]:
df.date.min(), df.date.max()

(Timestamp('2018-07-25 09:47:06'), Timestamp('2022-07-25 10:24:46'))

In [51]:
### Load btc price

In [52]:
btc = pd.read_csv('BTC_USD Bitfinex Historical Data_2018_07_24-2022_07_24.csv')

In [111]:
btc.sort_values('Date').head(30)

           Date    Price     Open     High      Low    Vol. Change %
1461 2018-07-24  8,394.5  7,719.8  8,500.2  7,692.3  64.68K    8.74%
1460 2018-07-25  8,176.0  8,380.0  8,485.7  8,073.0  36.97K   -2.60%
1459 2018-07-26  7,939.0  8,178.4  8,313.1  7,869.8  32.78K   -2.90%
1458 2018-07-27  8,185.7  7,933.5  8,280.3  7,815.1  34.22K    3.11%
1457 2018-07-28  8,246.4  8,188.0  8,246.4  8,073.9  13.66K    0.74%
1456 2018-07-29  8,221.0  8,235.7  8,293.9  8,123.0  10.19K   -0.31%
1455 2018-07-30  8,179.6  8,218.5  8,274.2  7,862.9  37.58K   -0.50%
1454 2018-07-31  7,730.6  8,179.5  8,179.5  7,670.0  43.55K   -5.49%
1453 2018-08-01  7,608.8  7,731.3  7,755.6  7,444.2  30.74K   -1.58%
1452 2018-08-02  7,535.2  7,606.0  7,707.1  7,463.1  17.75K   -0.97%
1451 2018-08-03  7,420.0  7,533.2  7,533.2  7,283.6  30.88K   -1.53%
1450 2018-08-04  7,013.2  7,420.0  7,490.0  6,930.0  31.72K   -5.48%
1449 2018-08-05  7,025.8  7,013.2  7,089.7  6,890.2  17.68K    0.18%
1448 2018-08-06  6,941.3  7,025.8  7,149.9  6,847.0  18.12K   -1.20%
1447 2018-08-07  6,720.5  6,940.1  7,149.9  6,678.8  32.25K   -3.18%
1446 2018-08-08  6,279.2  6,718.8  6,720.1  6,131.0  53.88K   -6.57%
1445 2018-08-09  6,529.1  6,280.7  6,623.7  6,188.2  33.38K    3.98%
1444 2018-08-10  6,146.8  6,533.6  6,573.6  6,014.5  43.50K   -5.86%
1443 2018-08-11  6,232.7  6,147.0  6,485.7  6,008.2  37.12K    1.40%
1442 2018-08-12  6,313.9  6,234.7  6,481.7  6,163.3  23.05K    1.30%
1441 2018-08-13  6,251.9  6,312.2  6,541.8  6,150.0  32.33K   -0.98%
1440 2018-08-14  6,189.0  6,241.3  6,244.0  5,879.3  52.70K   -1.01%
1439 2018-08-15  6,270.1  6,188.6  6,623.8  6,181.1  66.22K    1.31%
1438 2018-08-16  6,314.0  6,270.2  6,474.7  6,215.2  25.14K    0.70%
1437 2018-08-17  6,583.3  6,312.0  6,588.7  6,290.2  26.76K    4.27%
1436 2018-08-18  6,391.2  6,585.9  6,615.0  6,301.9  19.73K   -2.92%
1435 2018-08-19  6,485.1  6,395.0  6,550.0  6,309.3  15.35K    1.47%
1434 2018-08-20  6,255.9  6,485.1  6,520.6  6,230.2  31.72K   -3.53%
1433 2018-08-21  6,479.1  6,255.2  6,500.0  6,245.0  29.50K    3.57%
1432 2018-08-22  6,354.9  6,479.1  6,885.0  6,253.0  58.96K   -1.92%

In [54]:
btc['Date'] = pd.to_datetime(btc['Date'])

In [67]:
# df date format: 2018-07-25 09:47:06
# it is datetime
# convert remove the time part
#df['date'] = df['date'].dt.date
df['date']

0      2018-07-25
1      2018-08-01
2      2018-08-05
3      2018-08-05
4      2018-08-05
          ...
847    2022-07-21
848    2022-07-22
849    2022-07-23
850    2022-07-24
851    2022-07-25
Name: date, Length: 852, dtype: object

In [68]:
# concatenate df and btc by date
dfb = pd.concat([df, btc], axis=1)

In [69]:
df.head(2)

,Unnamed: 0,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0.1.1,date_unixtime,date,text,summary_text,summary_text30,A bull market is expected,A bear market is expected
0,0,0,0,0,1532414826,2018-07-25,Nuls (NULS) Spikes as Binance Backs Mainnet To...,Nuls (NULS) reached a record high of $2.76 on ...,Nuls (NULS) reached a record high of $2.76 on ...,0.470287,0.529713
1,1,1,1,1,1533047738,2018-08-01,Cardano (ADA) Launches Virtual Machine on Test...,Cardano (ADA) has completed another milestone ...,Cardano (ADA) has completed another milestone ...,0.476084,0.523916

In [70]:
dfb.head(3)

,Unnamed: 0,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0.1.1,date_unixtime,date,text,summary_text,summary_text30,A bull market is expected,A bear market is expected,Date,Price,Open,High,Low,Vol.,Change %
0,0.0,0.0,0.0,0.0,1.532415e+09,2018-07-25,Nuls (NULS) Spikes as Binance Backs Mainnet To...,Nuls (NULS) reached a record high of $2.76 on ...,Nuls (NULS) reached a record high of $2.76 on ...,0.470287,0.529713,2022-07-24,"22,579.2","22,446.0","23,001.0","22,262.0",2.34K,0.59%
1,1.0,1.0,1.0,1.0,1.533048e+09,2018-08-01,Cardano (ADA) Launches Virtual Machine on Test...,Cardano (ADA) has completed another milestone ...,Cardano (ADA) has completed another milestone ...,0.476084,0.523916,2022-07-23,"22,446.0","22,675.9","22,993.0","21,949.0",2.69K,-1.01%
2,2.0,2.0,2.0,2.0,1.533370e+09,2018-08-05,​❗️ The Privacy Coin Matrix: A Comprehensive S...,A Google Docs' spreadsheet has been recently p...,A Google Docs' spreadsheet has been recently p...,0.425244,0.574756,2022-07-22,"22,675.9","23,151.8","23,729.0","22,517.0",5.07K,-2.06%

In [76]:
dfb = dfb.dropna()
dfb.date.min(), dfb.date.max()

('2018-07-25', '2022-07-25')

In [77]:
dfb[['date','A bull market is expected','A bear market is expected','Change %']]

           date  A bull market is expected  A bear market is expected Change %
0    2018-07-25                   0.470287                   0.529713    0.59%
1    2018-08-01                   0.476084                   0.523916   -1.01%
2    2018-08-05                   0.425244                   0.574756   -2.06%
3    2018-08-05                   0.468083                   0.531917   -0.25%
4    2018-08-05                   0.447035                   0.552965   -0.81%
..          ...                        ...                        ...      ...
847  2022-07-21                   0.474460                   0.525540   -5.71%
848  2022-07-22                   0.508013                   0.491987   -1.89%
849  2022-07-23                   0.452172                   0.547828   -5.64%
850  2022-07-24                   0.523614                   0.476386    0.93%
851  2022-07-25                   0.453596                   0.546404   -1.09%

[852 rows x 4 columns]

In [81]:
df = dfb[['date','A bull market is expected','A bear market is expected','Change %']]
df.columns = ['date', 'bull', 'bear', 'change']
df.head(3)

         date      bull      bear  change
0  2018-07-25  0.470287  0.529713   0.59%
1  2018-08-01  0.476084  0.523916  -1.01%
2  2018-08-05  0.425244  0.574756  -2.06%

In [82]:
# last column 'change' format: '+0.00%'
# remove % and convert to float
df['change'] = df['change'].str.replace('%', '')
df['change'] = df['change'].astype(float)

/home/alex/anaconda3/envs/ml04/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/alex/anaconda3/envs/ml04/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [83]:
df.head(3)

         date      bull      bear  change
0  2018-07-25  0.470287  0.529713    0.59
1  2018-08-01  0.476084  0.523916   -1.01
2  2018-08-05  0.425244  0.574756   -2.06

In [85]:
type(df.iloc()[0].bull)

numpy.float64

In [86]:
df = df.sort_values('date')

In [92]:
df = df.groupby(['date','change']).mean()

In [95]:
# reset index
df = df.reset_index()

In [96]:
df.head()

         date  change      bull      bear
0  2018-07-25    0.59  0.470287  0.529713
1  2018-08-01   -1.01  0.476084  0.523916
2  2018-08-05   -4.36  0.517589  0.482411
3  2018-08-05   -3.34  0.524874  0.475126
4  2018-08-05   -3.27  0.471601  0.528399

In [99]:
for idx, row in df.iterrows():
    print(idx, row.date, row.change, row.bear)
    if idx>100:
        break

0 2018-07-25 0.59 0.5297128409147263
1 2018-08-01 -1.01 0.5239158223072687
2 2018-08-05 -4.36 0.4824105054140091
3 2018-08-05 -3.34 0.475125789642334
4 2018-08-05 -3.27 0.5283987607274737
5 2018-08-05 -3.18 0.511076980166965
6 2018-08-05 -2.18 0.5552350112370082
7 2018-08-05 -2.09 0.5543232808510462
8 2018-08-05 -2.06 0.574755711214883
9 2018-08-05 -0.84 0.6155829514775958
10 2018-08-05 -0.81 0.552964856227239
11 2018-08-05 -0.79 0.5716844115938459
12 2018-08-05 -0.29 0.5410447670863225
13 2018-08-05 -0.27 0.5512249507009983
14 2018-08-05 -0.25 0.5319167852401734
15 2018-08-05 -0.11 0.5284260114034017
16 2018-08-05 -0.09 0.4813140666484832
17 2018-08-05 0.41 0.5375635186831157
18 2018-08-05 1.16 0.5385028074185053
19 2018-08-05 1.64 0.5520246652039614
20 2018-08-05 1.92 0.4111078500747681
21 2018-08-05 1.96 0.4058679810592106
22 2018-08-05 4.1 0.6119173318147659
23 2018-08-05 4.74 0.5314385071396828
24 2018-08-05 4.84 0.4953385107219219
25 2018-08-05 5.17 0.437125618259112
26 2018-08-05 8.16 0.5393653243780137
27 2018-08-10 -1.95 0.527575112051434
28 2018-08-10 -1.66 0.4895988128803394
29 2018-08-10 0.75 0.4794423154422215
30 2018-08-10 1.21 0.4564358964562416
31 2018-08-14 -3.62 0.5420572595162825
32 2018-08-14 5.66 0.5106208003484286
33 2018-09-02 -0.01 0.5079396047762462
34 2018-09-02 0.68 0.5204114582803514
35 2018-09-18 8.31 0.558294701576233
36 2018-09-23 -7.02 0.5594489239156246
37 2018-09-23 0.08 0.5692437092463175
38 2018-09-26 -9.74 0.5347782770792643
39 2018-10-01 1.9 0.4644420258700847
40 2018-10-04 -1.4 0.4691438096411088
41 2018-10-05 -15.68 0.551349014043808
42 2018-10-09 -6.17 0.49750966578722
43 2018-10-11 -2.33 0.4731620252132416
44 2018-10-16 -3.35 0.4790559355169534
45 2018-10-19 -0.39 0.4726026047553335
46 2018-10-23 -2.95 0.4935799198491232
47 2018-10-27 -0.71 0.4833207974831263
48 2018-10-30 4.84 0.5252273231744766
49 2018-11-01 0.16 0.4925177666273984
50 2018-11-09 0.49 0.5272852182388306
51 2018-11-16 -2.45 0.5278530461447579
52 2018-11-17 2.17 0.4851813018321991
53 2018-11-20 -6.17 0.4937881739700542
54 2018-11-26 0.21 0.4951582593577249
55 2018-11-29 7.63 0.4910146792729695
56 2018-12-02 1.51 0.5151992499828338
57 2018-12-04 1.5 0.5621616244316101
58 2018-12-06 -2.07 0.5009801328182221
59 2018-12-08 -1.05 0.4861682839691639
60 2018-12-12 -0.41 0.5006516675154368
61 2018-12-15 1.91 0.4292945470660925
62 2018-12-18 -3.94 0.5591907032898494
63 2018-12-20 2.87 0.4717676374647352
64 2018-12-21 0.81 0.4607901215553284
65 2018-12-22 -3.72 0.5583155999581019
66 2018-12-24 5.75 0.5125956740230322
67 2018-12-26 -5.79 0.5342913642525673
68 2019-01-04 1.97 0.5727331389983495
69 2019-01-15 -4.68 0.4828008264303207
70 2019-01-18 4.04 0.5017002693244389
71 2019-01-20 2.72 0.513335862330028
72 2019-01-21 0.74 0.5511120607455572
73 2019-01-22 -0.02 0.5340161681175232
74 2019-01-23 -6.3 0.5189750763502988
75 2019-01-25 2.96 0.5072380410773414
76 2019-01-26 -11.52 0.5468969543774923
77 2019-01-27 -4.01 0.4548635855317116
78 2019-01-29 -1.48 0.5281690997736794
79 2019-01-30 -1.47 0.5069774058130052
80 2019-02-01 -7.87 0.5245257658617837
81 2019-02-03 5.17 0.42196149751544
82 2019-02-05 -2.0 0.5103081862131754
83 2019-02-06 0.06 0.4964410699903965
84 2019-02-08 2.21 0.5160218626260757
85 2019-02-15 -2.43 0.4853614483560834
86 2019-02-17 -2.91 0.5074543907092168
87 2019-02-19 1.26 0.5094364285469055
88 2019-02-23 2.95 0.4636667463928461
89 2019-02-24 -5.73 0.5514622899619016
90 2019-03-01 2.46 0.5199911867578825
91 2019-03-03 0.1 0.5264813899993896
92 2019-03-05 -0.7 0.4972126354773839
93 2019-03-08 -1.92 0.4269873018448169
94 2019-03-12 -2.09 0.4375156909227371
95 2019-03-15 -0.36 0.5090975335666111
96 2019-03-16 1.7 0.5380105078220367
97 2019-03-17 2.8 0.5227545553987677
98 2019-03-19 -1.74 0.5892227921220992
99 2019-03-20 -0.44 0.4744112839301427
100 2019-03-21 1.6 0.5364332621296247
101 2019-03-22 -2.93 0.476688377559185

In [ ]:
# Date	Price	Open	High	Low	Vol.	Change %

In [108]:
btc[['Date','Change %']]

           Date Change %
0    2022-07-24    0.59%
1    2022-07-23   -1.01%
2    2022-07-22   -2.06%
3    2022-07-21   -0.25%
4    2022-07-20   -0.81%
...         ...      ...
1457 2018-07-28    0.74%
1458 2018-07-27    3.11%
1459 2018-07-26   -2.90%
1460 2018-07-25   -2.60%
1461 2018-07-24    8.74%

[1462 rows x 2 columns]

In [107]:
btc.groupby(['Date','Change %'])

In [109]:
# btc = btc.groupby(['Date','change']).mean()
i = 0
for idx, rows in btc.sort_values('Date').iterrows():
    print(idx, row.date, row.change, row.bear)
    if i>30:
        break
    i += 1

1461 2019-03-22 -2.93 0.476688377559185
1460 2019-03-22 -2.93 0.476688377559185
1459 2019-03-22 -2.93 0.476688377559185
1458 2019-03-22 -2.93 0.476688377559185
1457 2019-03-22 -2.93 0.476688377559185
1456 2019-03-22 -2.93 0.476688377559185
1455 2019-03-22 -2.93 0.476688377559185
1454 2019-03-22 -2.93 0.476688377559185
1453 2019-03-22 -2.93 0.476688377559185
1452 2019-03-22 -2.93 0.476688377559185
1451 2019-03-22 -2.93 0.476688377559185
1450 2019-03-22 -2.93 0.476688377559185
1449 2019-03-22 -2.93 0.476688377559185
1448 2019-03-22 -2.93 0.476688377559185
1447 2019-03-22 -2.93 0.476688377559185
1446 2019-03-22 -2.93 0.476688377559185
1445 2019-03-22 -2.93 0.476688377559185
1444 2019-03-22 -2.93 0.476688377559185
1443 2019-03-22 -2.93 0.476688377559185
1442 2019-03-22 -2.93 0.476688377559185
1441 2019-03-22 -2.93 0.476688377559185
1440 2019-03-22 -2.93 0.476688377559185
1439 2019-03-22 -2.93 0.476688377559185
1438 2019-03-22 -2.93 0.476688377559185
1437 2019-03-22 -2.93 0.476688377559185
1436 2019-03-22 -2.93 0.476688377559185
1435 2019-03-22 -2.93 0.476688377559185
1434 2019-03-22 -2.93 0.476688377559185
1433 2019-03-22 -2.93 0.476688377559185
1432 2019-03-22 -2.93 0.476688377559185
1431 2019-03-22 -2.93 0.476688377559185
1430 2019-03-22 -2.93 0.476688377559185