In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('temp.csv')
classes = ['A bull market is expected', 'A bear market is expected']
# calculate first and second class ratio
# df['first_class_ratio'] = df[classes[0]] / df[classes[1]]
df.head(3)

,Unnamed: 0,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0.1.1,date_unixtime,date,text,summary_text,summary_text30,A bull market is expected,A bear market is expected
0,0,0,0,0,1532414826,2018-07-24T09:47:06,Nuls (NULS) Spikes as Binance Backs Mainnet To...,Nuls (NULS) reached a record high of $2.76 on ...,Nuls (NULS) reached a record high of $2.76 on ...,0.470287,0.529713
1,1,1,1,1,1533047738,2018-07-31T17:35:38,Cardano (ADA) Launches Virtual Machine on Test...,Cardano (ADA) has completed another milestone ...,Cardano (ADA) has completed another milestone ...,0.476084,0.523916
2,2,2,2,2,1533369648,2018-08-04T11:00:48,​❗️ The Privacy Coin Matrix: A Comprehensive S...,A Google Docs' spreadsheet has been recently p...,A Google Docs' spreadsheet has been recently p...,0.425244,0.574756

In [10]:
df[classes[0]].max(), df[classes[1]].max()

(0.6191088557243347, 0.6211625167301723)

In [27]:
df[df[classes[0]]==df[classes[0]].max()].iloc()[0].text

'HTC launches Desire 22 Pro, Metaverse-enabled smartphone with NFT and crypto wallet'

In [29]:
print(df[df[classes[1]]==df[classes[1]].max()].iloc()[0].text)

​South African crypto-holers are urged to come to tax

South African tax expert David Lesperance says crypto investors should take the initiative and contact the South African Tax Service (SARS) before she comes to them herself. By taking the first step, the expert said, crypto investors will be able to avoid the penalties that SARS often imposes on tax evaders.

Meanwhile, Lesperance, in comments for bitcoin.news, urged crypto owners to get rid of the "fantasy that they are not going to pay taxes."

In a post aimed specifically at early adopters of cryptocurrency, the tax expert explains how the current situation works in favor of revenue collectors like SARS. He said:

Crypto-based transactions are a revenue collector's dream because everything is stored in a public ledger and its data cannot be changed.

Lesperance, who recently gave a presentation at one of the tax webinars, adds that since public registries are censorship resistant, the “sole” task of revenue collectors will be to